<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{item.name}} </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/goods.css' %}">
</head>
<body>


    <div class="head">
        <div class="head_content">
            <div class="logo">
                Techprod
            </div>
            <div class="search">
                <div class="search-container">
                    <input type="text" id="search-input" placeholder="Введіть запит для пошуку">
                    <button id="search-btn">Пошук</button>
                </div>
            </div>
            <div class="ikon_case">
                <object data="{% static 'img/User.png' %}" type="" class="ikon" ></object>
                <object data="{% static 'img/Heart.png' %}" type="" class="ikon" ></object>
                <object data="{% static 'img/Shopping_сart.png' %}" type="" class="ikon" ></object>
            </div>
        </div>
    </div>





    <h1>
    This is your item  {{item.name}}  {{item.price}}  {{item.description}}  {{item.number}}
    </h1>
</body>
</html>

