<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Main page </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}">
</head>
<body>
    <div class="head">
        <div class="head_content">
            <div class="logo">
                Otto
            </div>
            <div class="search">
                <div class="search-container">
                    <input type="text" id="search-input" placeholder="Введіть запит для пошуку">
                    <button id="search-btn">Пошук</button>
                </div>
            </div>
            <div class="icons_case">
                <object data="{% static 'img/User.png' %}" type="" class="icon" ></object>
                <object data="{% static 'img/Heart.png' %}" type="" class="icon" ></object>
                <object data="{% static 'img/Shopping_сart.png' %}" type="" class="icon" ></object>
            </div>
        </div>
    </div>
    <div class="emptiness"></div>
    <div class="main_part">
        <div class="items">
            <div class="search_customization">
                <h1 class="title">
                    Смартфони, ТВ і Електроніка/Мобільні телефони
                </h1>
                <div class="select_case">
                    <div class="custom-select">
                        <span class="selected-option">Сортувати за:</span>
                            <select>
                                <option value="option1">Від дешевих до дорогих</option>
                                <option value="option2">Від дорогих до дешевих</option>
                                <option value="option3">Лідер продаж</option>
                                <option value="option3">Новинки</option>
                            </select>
                    </div>
                </div>
            </div>
            <div class="block_1">
                <div class="Product_search_customization">
                    <div class="custom-select">
                        <span class="selected-option">Бренд:</span>
                            <select>
                                <option value="option1">Realme</option>
                                <option value="option2">Doro</option>
                                <option value="option3">Honor</option>
                                <option value="option1">Nokia</option>
                                <option value="option2">Google</option>
                                <option value="option3">Emporia</option>
                                <option value="option1">Huawei</option>
                                <option value="option2">Asus</option>
                                <option value="option3">Lenovo</option>
                            </select>
                    </div>
                    <div class="custom-select">
                        <span class="selected-option">Ціна:</span>
                    </div>
                    <div class="custom-select">
                        <span class="selected-option">Пам'ять:</span>
                            <select>
                                <option value="option1">32 GB</option>
                                <option value="option1">64 GB</option>
                                <option value="option1">128 GB</option>
                                <option value="option2">256 GB</option>
                                <option value="option3">512 GB</option>
                                <option value="option3">1 TB</option>
                            </select>
                    </div>
                    <div class="custom-select">
                        <span class="selected-option">Розмір екрану:</span>
                            <select>
                                <option value="option1">4,0 - 4,4 дюйма</option>
                                <option value="option2">4,5 - 4,9 дюймів</option>
                                <option value="option3">5,0 - 5,4 дюйма</option>
                                <option value="option3">5,5 - 5,9 дюймів</option>
                                <option value="option3">6,0 - 6,4 дюйма дюйма</option>
                                <option value="option3">6,5 - 6,9 дюймів </option>
                                <option value="option3">10 дюймів </option>
                            </select>
                    </div>
                    <div class="custom-select">
                        <span class="selected-option">Операційна система:</span>
                            <select>
                                <option value="option1">Android</option>
                                <option value="option2">iOS</option>
                                <option value="option3">MIUI</option>
                                <option value="option2">BlackBerry</option>
                            </select>
                    </div>
                    <div class="custom-select">
                        <span class="selected-option">Колір:</span>
                    </div>
                    <div class="custom-select">
                        <span class="selected-option">Продуктивність батареї:</span>
                            <select>
                                <option value="option1">1000 - 2000 мАг</option>
                                <option value="option2">3000 - 5000 мАг</option>
                                <option value="option3">6000 - 10000 мАг</option>
                                <option value="option3">11 000 - 15 000 мАг</option>
                                <option value="option3">500 - 1000 мАг</option>
                            </select>
                    </div>
                    <div class="custom-select">
                        <span class="selected-option">Захист:</span>
                            <select>
                                <option value="option1">пилонепроникний</option>
                                <option value="option2">водонепроникний</option>
                                <option value="option3">бризкозахист</option>
                            </select>
                    </div>
                    <div class="custom-select">
                        <span class="selected-option">Основна камера:</span>
                            <select>
                                <option value="option1">15 Мп і менше</option>
                                <option value="option2">16 - 20.7 Мп</option>
                                <option value="option3">21 - 48 Мп</option>
                                <option value="option2">49 - 64 Мп</option>
                                <option value="option3">65 - 99 Мп</option>
                                <option value="option3">100 Мп і більше</option>
                            </select>
                    </div>
                    <div class="custom-select">
                        <span class="selected-option">Тип трансмісії:</span>
                            <select>
                                <option value="option1">Bluetooth</option>
                            </select>
                    </div>
                    <div class="custom-select">
                        <span class="selected-option">Оцінка:</span>
                            <select>
                                <option value="option1"> ★</option>
                                <option value="option2"> ★ ★</option>
                                <option value="option3"> ★ ★ ★</option>
                                <option value="option3"> ★ ★ ★ ★</option>
                                <option value="option3"> ★ ★ ★ ★ ★</option>
                            </select>
                    </div>
                </div>
                    <div class="googs">
                        <div class="box">
                                {% for items in items %}
                                    <a href="/main_page/{{items.id}}/" class="link" >
                                    <div class="container">
                                            <div class="image_box">
                                                <img src="{{items.image.url}}" alt="">
                                            </div>
                                        <div class="description">
                                            <div class="name">
                                                {{items.name}} <br/>
                                            </div>
                                            <div class="price">
                                                {{items.price}} {{items.currency}}<br/>
                                            </div>
                                        </div>
                                    </div>
                                    </a>
                                {% endfor %}
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="foot_case">
            <div class="mailing_list">
                <p class="text"> Підпишіться на розсилку та отримайте переваги </p>
                <input placeholder="Ведіть свою пошту" class="pl_input__field">
                <button class="button">Зареєструватись</button>
            </div>
            <div class="foot_container">
                <div class="footer_object">
                    <object data="{% static 'img/user.jpg' %}" type="" class="icon" ></object>
                    <p>Мій рахунок</p>
                </div>
                <div class="footer_object">
                    <object data="{% static 'img/gift.jpg' %}" type="" class="icon" ></object>
                    <p>Подарункові ваучери</p>
                </div>
                <div class="footer_object">
                    <object data="{% static 'img/chat.jpg' %}" type="" class="icon" ></object>
                    <p>Мій рахунок</p>
                </div>
            </div>
            <div class="footer_img">
            <object data="{%static 'img/footer.png' %}" type="" class="object-image" ></object>
            </div>
        </div>
    </div>
</body>
</html>